# development | production
APP_ENV=development
APP_URL=localhost
APP_PORT=8080
APP_GLOBAL_PREFIX=/api/v1
APP_ALLOWED_ORIGIN=http://localhost:3000

# RATE LIMITER
RATE_LIMIT_AUTH_MAX=10
RATE_LIMIT_AUTH_EXPIRATION=1m
RATE_LIMIT_GLOBAL_MAX=120
RATE_LIMIT_GLOBAL_EXPIRATION=1m

# QUEUE (ASYNQ)
# true: all-in-one (with http server)
# false: separated (http server & queue)
QUEUE_IN_PROCESS=true
QUEUE_CONCURRENCY=10
QUEUE_CRITICAL_WEIGHT=6
QUEUE_DEFAULT_WEIGHT=3
QUEUE_LOW_WEIGHT=1
QUEUE_MAX_RETRY=3
QUEUE_TASK_TIMEOUT=20s
QUEUE_SHUTDOWN_TIMEOUT=10s
QUEUE_FALLBACK_SYNC_ON_FAIL=true

# JWT
JWT_SECRET_KEY=supercoolsecretkey
JWT_ACCESS_TOKEN_TTL=30m
JWT_REFRESH_TOKEN_TTL=336h

# SMTP
SMTP_ENABLED=true
SMTP_HOST=smtp.mail.com
# 587 starttls / 465 tls
SMTP_PORT=465
SMTP_EMAIL=noreply@mail.com
SMTP_PASSWORD=supercoolsmtppassword
# Backend <noreply@mail.com>
SMTP_FROM_NAME=Backend

# AUTH
AUTH_VERIFY_EMAIL=false

# OAUTH
### GOOGLE
GOOGLE_OAUTH_ENABLED=true
GOOGLE_CLIENT_ID=clientid
GOOGLE_CLIENT_SECRET=clientsecret
### GITHUB
GITHUB_OAUTH_ENABLED=true
GITHUB_CLIENT_ID=clientid
GITHUB_CLIENT_SECRET=clientsecret
### YANDEX
YANDEX_OAUTH_ENABLED=true
YANDEX_CLIENT_ID=clientid
YANDEX_CLIENT_SECRET=clientsecret

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supercoolpassword
POSTGRES_DB=backend_db
POSTGRES_MAX_CONNS=25
POSTGRES_MIN_CONNS=5
POSTGRES_MAX_CONN_LIFETIME=1h
POSTGRES_MAX_CONN_IDLE_TIME=15m
POSTGRES_HEALTH_CHECK_PERIOD=1m

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=supercoolpassword